<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 이순신 2500000 java팀(developer) -->
	<bean id="lee" class="com.test03.Developer" >
		<constructor-arg name="name" value="이순신"/>
		<constructor-arg name="salary" value="2500000"/>
		<property name="dept" value="java팀"></property>
	</bean>
	<!-- 홍길동 2000000 docker팀 (engineer) -->
	<bean id="hong" class="com.test03.Engineer" >
		<constructor-arg name="name" value="홍길동"/>
		<constructor-arg name="salary" value="2000000"/>
		<property name="dept" value="docker팀"></property>
	</bean>
</beans>
