<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 1명은 생성자 주입 -->
	<bean id="heeju" class="com.test02.Emp">
		<constructor-arg name="name" value="심희주"/>
		<constructor-arg name="salary" value="4000000"/>
	</bean>

	<!-- 1명은 setter 주입 -->
	<bean id="lee" class="com.test02.Emp">
		<property name="name" value="아무개" />
		<property name="salary" value="3000000" />
	</bean>
</beans>
