<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean으로 2명 등록 -->
	<bean id="heeju" class="com.test02.Address">
		<constructor-arg name="name" value="희주"/>
		<constructor-arg name="addr" value="서울"/>
		<constructor-arg name="phone" value="000-0000-0000"/>
		
	</bean>
		<bean id="jamin" class="com.test02.Address">
		<constructor-arg name="name" value="재민"/>
		<constructor-arg name="addr" value="서울"/>
		<constructor-arg name="phone" value="000-0000-0000"/>
		
	</bean>
</beans>
