<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>list</h1>

	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>제목</th>
			<th>날짜</th>
		</tr>
		<tr th:if="${list.size()==0}">
			<td colspan="4" align="center">--------작성글이 없어요----------</td>
		</tr>
		<tr th:unless="${list.size()==0}" th:each="dto:${list}">
			<td th:text="${dto.myno}"></td>
			<td th:text="${dto.myname}"></td>
			<td><a th:href="|@{/member/detail}?myno=${dto.myno}|" th:text="${dto.mytitle}"></a></td>
			<td th:text="${dto.mydate}"></td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<input type="button" onclick="location.href='insertform'" th:value="insert"/>
			</td>
		</tr>
	</table>
</body>
</html>